input {
    width: 360px;
    height: 40px;
    padding: 8px 16px;
    border: 1px solid #808080;
    border-radius: 4px;
}

input::placeholder {
    font-weight: 400;
    font-size: 16px;
    color: #2e2f42;
}

h1 {
    font-size: 24;
    color: #2e2f42;
}